body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #000033, #000066, #000099);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffffff;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0055ff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #0044cc;
}

#resultado {
    margin-top: 20px;
    color: #ffffff;
    text-align: left;
}
